[submodule "public_api_capstone_project"]
	path = public_api_capstone_project
	url = https://github.com/coderaark12/Joke-Time
[submodule "Booklytic"]
	path = Booklytic
	url = https://github.com/coderaark12/Booklytic.git
[submodule "Blog Writing Project"]
	path = Blog Writing Project
	url = https://github.com/coderaark12/Blog-API-Project.git
[submodule "Drum Game"]
	path = Drum Game
	url = https://github.com/coderaark12/Simple-Drum-Game.git
[submodule "Dice Game"]
	path = Dice Game
	url = https://github.com/coderaark12/Dice-Game-.git
